@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

body {
    background-image: linear-gradient(to right, #105057 , #400036 , #FF81D0 )
}

header {
    background-color: aqua;
     min-height: 150px;
     text-align: center;
     padding-top: 40px;
}    

header > h1 {
    
    color: white;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
}

header > p {
    
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px, 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}







