@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    background-color: #353740;
}

nav {
    background-color: black;
    padding: 20px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.466);
    text-align: center;
}

nav > a {
   
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
   
}

h1 {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 5rem;
}

main {
    background-color: white;
    position: relative;
    top: 90px;
    
    
}
/* imagens dos icones */

.todos-icones > p {
    
    
    
}
#email {
    
    position: relative;
    left:px;
    top: 55px;
    width: 60px;
    height: 60px;
    
}

#cel {
    position: relative;
    left: 23px;
    top: 30px;
    width: 60px;
    height: 60px;
    
}

#git {
    position: relative;
    left: 23px;
    top: 25px;
    width: 60px;
    height: 60px;
    
}

#linke {
    position: relative;
    left: 23px;
    top: 40px;
    width: 60px;
    height: 60px;
    
}

/* paragrafos */
.e-mail {
    position: relative;
    left: 85px;
    top: 10px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.celular {
    position: relative;
    left: 90px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clique-git {
    position: relative;
    left: 90px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.clique-linke {
    position: relative;
    left: 90px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

