@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

body {
    background-color: rgba(255, 255, 0, 0.486);
}

header {
    background-color:black;
     min-height: 150px;
     text-align: center;
     padding-top: 40px;

}    

img {

    position: relative;
    width: 280px;
    border-radius: 100%;
}



#grid-grupo {
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    height: 500px;
    grid-gap: 50px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 40px;
    
       
    
    
}

.box-um {
    background-color: pink;
    padding: 4rem;
    
    

}

.box-dois {
    background-color: rebeccapurple;
    padding: 4rem;
}

.box-tres {
    background-color: #8C503A;
    padding: 4rem;
}

.box-quatro {
    background-color: aqua;
    padding: 4rem;
}

.box-cinco {
    background-color: rgb(54, 110, 110);
    padding: 4rem;
}

.box-seis {
    background-color: rgb(24, 109, 13);
    padding: 4rem;
}



header > p {
    
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
}

nav {
    background-color: black;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.466);
    text-align: center;
}

nav > a {

    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: cornsilk;
    box-shadow: 0px, 0px 10px rgba(0, 0, 0, 0.425);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.sobre {
    
    border-radius: 10px;
    padding: 20px;
    
    
}

.combo {
    text-align: center;
    background-color: black;
    border-radius: 10px;
      
}

h2 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}








