@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:#353740;
    
}

header {
    background-image: url(img-not1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.322);
    z-index: 1;
     min-height: 150px;
     text-align: center;
     padding-top: 80px;
    
} 

header > h1 {
    position: relative;
    top: 280px;
    font-size: 60px;
    color: white;
}

header > p {
    
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
}

img {
    position: relative;
    bottom: 100px;
    width: 300px;
    border-radius: 100%;
    
}

nav {
    background-color: black;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.466);
    text-align: center;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    padding-bottom: 500px;
    border-radius: 5px;
    background-color:white;
    box-shadow: 0px, 0px 10px rgba(0, 0, 0, 0.425);
}

#seçao-principal {
    font-size: 20px;
    padding: 12px;
}


.sobre > p {
    text-align:center;
    color: black; 
    padding: 20px;
  
}

h2 {
    text-align: center;
    padding: 5px;
    font-size: 30px;
    background-color: black;
    color: white;
}

.mover {
    background-color: aqua;
}

@keyframes mover {
      0%  {
            opacity: 2;
            transform: translateX(0);
        }

        50% {
            opacity: 10;
            transform: translateX(500px);
        }

        100% {
            opacity: 1;
            transform: translateX(200px);
        }

}

.mover > img {
    position: relative;
    bottom: 2px;
    width: 100px;
    height: 100px;
    animation-name: mover;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
      
}

#grid-grupo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    height: 400px;
    grid-gap: 40px;
    margin: auto;
    background-color: rgb(199, 195, 195);
    position: relative;
    top: 280px;
    
    
}

.box-um {
    background-color: #353740;
    text-align: center;
    color: white;
}
.box-um > p {
    position: relative;
    top: 55px;
    background-color: black;
}

.box-dois {
    background-color: #353740;
    padding: 4rem;
    color: white;
}


.box-tres {
    background-color: #353740;
    padding: 4rem;
    color: white;
}

.box-quatro {
    background-color: #353740;
    padding: 4rem;
    color: white;
}

.box-cinco {
    background-color: #353740;
    padding: 4rem;
    color: white;
}

.box-seis {
    background-color: #353740;
    padding: 4rem;
    color: white;
}


footer {
    position: relative;
    top: 480px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}








